@using System.Linq;

<RadzenCard>
    <div class="row card d-flex flex-row p-2 my-1">
        <div class="col-9 right-divider">
            <p>Average time to complete a test request:</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
            32h 43min
        </div>
    </div>

    <div class="row card d-flex flex-row p-2 my-1">
        <div class="col-9 right-divider">
            <p>Average time to complete a test case:</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
            3h 04min
        </div>
    </div>

    <div class="row card d-flex flex-row p-2 my-1">
        <div class="col-9 right-divider">
            <p>Average time to test a test case:</p>
        </div>
        <div class="col-3 d-flex justify-content-center">
            0h 54min
        </div>
    </div>

</RadzenCard>

@code {
    
}
