<h6>Distribution of Test Requests by QA Analyst</h6>
<RadzenCard class="py-0">
    <RadzenChart>
        <RadzenDonutSeries Data="@revenue" CategoryProperty="Analyst" ValueProperty="TestRequestCount" TotalAngle="180" StartAngle="180">
            <ChildContent>
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
            <TitleTemplate>
                <div class="rz-donut-content">
                    <div>Request</div>
                    <div>amount</div>
                </div>
            </TitleTemplate>
        </RadzenDonutSeries>
    </RadzenChart>
</RadzenCard>

@code {
    class DataItem
    {
        public string Analyst { get; set; }
        public double TestRequestCount { get; set; }
    }

    DataItem[] revenue = new DataItem[] {
        new DataItem
        {
            Analyst = "Lucas",
            TestRequestCount = 5
        },
        new DataItem
        {
            Analyst = "Fernando",
            TestRequestCount = 3
        },
        new DataItem
        {
            Analyst = "Fulano",
            TestRequestCount = 7
        },
        new DataItem
        {
            Analyst = "Ciclano",
            TestRequestCount = 12
        }
    };
}
