@using Testeger.Client.ViewModels.TestRequests

<h6>Test request count per status</h6>
<RadzenCard>
    <RadzenChart>
        <RadzenColumnSeries Fills="@(new [] { "#4F4F50", "#4668BC", "#C2840D", "#B90D41", "#00763E" })" Data="@GetChartData()" CategoryProperty="Status" LineType="LineType.Dashed" ValueProperty="RequestCount">
            <RadzenSeriesDataLabels Visible="false" />
        </RadzenColumnSeries>
        <RadzenColumnOptions Radius="5" Width="20" />
        <RadzenCategoryAxis Padding="5" />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Request Count" />
        </RadzenValueAxis>
        <RadzenLegend Visible="false" />
    </RadzenChart>
</RadzenCard>

@code {
    [Parameter]
    public Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>> TestRequestsByStatus { get; set; }

    [Parameter]
    public DateTime? FilterDate { get; set; }

    private Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>> FilteredRequestsByStatus { get; set; }

    private class DataItem
    {
        public string? Status { get; set; }
        public int RequestCount { get; set; }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        FilteredRequestsByStatus = FilterTestRequestsByDate(TestRequestsByStatus, FilterDate);
    }

    private DataItem[] GetChartData()
    {
        DataItem[] dataArray = new DataItem[FilteredRequestsByStatus.Count];
        int i = 0;
        foreach (var entry in FilteredRequestsByStatus)
        {
            dataArray[i++] = new DataItem
                {
                    Status = EnumHelper.AddSpacesToEnumName(entry.Key.ToString()),
                    RequestCount = entry.Value.Count(),
                };
        }

        return dataArray;
    }

    public Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>> FilterTestRequestsByDate(
    Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>> testRequestsByStatus, DateTime? filterDate)
    {
        if (filterDate == null)
        {
            return testRequestsByStatus;
        }

        var filteredRequestsByStatus = new Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>>();

        foreach (var kvp in testRequestsByStatus)
        {
            var status = kvp.Key;
            var requests = kvp.Value;

            var filteredRequests = requests.Where(request =>
            {
                var mostRecentChangeDate = request.History
                    .OrderByDescending(history => history.ChangedDate)
                    .FirstOrDefault()?.ChangedDate;

                return mostRecentChangeDate.HasValue && mostRecentChangeDate.Value >= filterDate.Value;
            });

            filteredRequestsByStatus[status] = filteredRequests;
        }

        return filteredRequestsByStatus;
    }
}
