@using Testeger.Client.ViewModels.TestCases
@using Testeger.Shared.DTOs.Responses.TestCase
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h5 class="accordion-header row-titlebar" style="height: 40px;">
            <button class="accordion-button row-titlebar" style="height: 40px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H6" class="mt-2">Testing Details</RadzenText>
            </button>
        </h5>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container-fluid px-0">

                    <div class="row pb-2 bottom-divider">
                        <div class="col-7">
                            <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3">Expected Result</RadzenText>
                            <RadzenTextArea @bind-Value="TestCase.Details.ExpectedResult" Style="width:100%; height: 150px; resize: none;" />
                        </div>
                        <div class="col-5">
                            <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3">Environment</RadzenText>
                            <RadzenTextBox @bind-Value="TestCase.Details.Environment" Style="width:100%;" />
                        </div>
                    </div>

                    <div class="row mt-1 pt-2 mx-1 teste" style="height: 250px;">
                        <DisplayTestCaseResults TestCase="TestCase" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TestCaseViewModel TestCase { get; set; }
}

<style>

    .toggle-header {
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background-color: #E8E8E8 !important;
    }

        .toggle-header .rzi {
            margin-right: 8px;
            font-size: 14px;
            margin-left: 0.5rem;
        }

    .teste{
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>