@page "/create-project"
@layout DefaultLayout
@inject ProjectService ProjectService
@inject NavigationManager NavigationManager
@inject DialogService DialogService

<RadzenDialog />

<div class="d-flex justify-content-center align-items-center">
    <EditForm Model="newProject" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="name" @bind-Value="newProject.ProjectName" />
        <button type="submit">Create</button>
    </EditForm>
</div>

@code {
    private ProjectCreationViewModel newProject = new ProjectCreationViewModel();
    private bool IsAbleToProjectCreation => ProjectService.GetProjectCount() < 2;

    private async Task HandleValidSubmit()
    {
        if (!IsAbleToProjectCreation)
        {
            await CreateProjectLimitDialog();
        }
        else
        {
            CreateProject();
        }
    }

    private void CreateProject()
    {
        var project = new Project
                {
                    Name = newProject.ProjectName
                };

        ProjectService.AddProject(project);
        NavigationManager.NavigateTo($"/project/{project.Id}");
    }

    private async Task CreateProjectLimitDialog()
    {
        await DialogService.OpenAsync("Warning", ds =>
            @<div class="container">
                <div class="row justify-content-center">
                    <p>You can only create up to 2 projects.</p>
                </div>

                <div class="row col-3">
                    <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Danger" Click="@(args => ds.Close())" />
                </div>
            </div>,
        new DialogOptions { Width = "400px", Height = "200px" });
    }
}