@page "/project/{Id}"
@layout DefaultLayout
@inject ProjectService ProjectService
@inject TestRequestService TestRequestService
@inject NavigationManager NavigationManager

<div class="row mb-3" style="min-width: 900px;">
    <div class="col-6">
        <h5><strong>Project: @project?.Name</strong></h5>
    </div>
    <div class="col-6 d-flex justify-content-end" style="min-width: 450px;">
        <RadzenButton Click="NavigateToProjectManagementPage" Icon="settings" ButtonStyle="ButtonStyle.Light" class="me-2" />
        <RadzenButton Click="NavigateToProjectMetricsPage" Icon="analytics" Text="Project Metrics" ButtonStyle="ButtonStyle.Success" class="me-2" />
        <RadzenButton Click="OpenTestRequestCreationDialog" Icon="add_circle_outline" Text="Add request" ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>

@foreach (var status in testRequestsByStatus.Keys)
{
    var requests = testRequestsByStatus[status];
    <RadzenCard class="my-3 pt-1" Style="min-width: 900px;">
        <IndividualRow Requests="requests" Status="@status">
            <RowTitle>
                <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0" Style="color: #A9ABAE;" TagName="TagName.H6">@GetStatusName(status)</RadzenText>
            </RowTitle>
        </IndividualRow>
    </RadzenCard>
}

<RadzenButton Click="Clear" Style="margin-right: 10px;" />

@code {
    [Parameter]
    public string? Id { get; set; }
    [Inject]
    protected DialogService DialogService { get; set; }
    private Project? project;
    private Dictionary<RequestStatus, List<TestRequest>> testRequestsByStatus = new();

    protected override async Task OnParametersSetAsync()
    {
        if (project == null || project.Id != Id) 
        {
            project = await ProjectService.GetProjectById(Id);
            testRequestsByStatus = await TestRequestService.GetTestRequestsByProjectIdGroupedByStatus(Id);
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        project = await ProjectService.GetProjectById(Id);
        TestRequestService.OnChange += StateHasChanged;
        TestRequestService.OnTestRequestAdded += UpdateTestRequests;
        TestRequestService.OnTestRequestDeleted += UpdateTestRequests;
        TestRequestService.OnTestRequestUpdated += UpdateTestRequests;
        testRequestsByStatus = await TestRequestService.GetTestRequestsByProjectIdGroupedByStatus(Id);
    }

    private string GetStatusName(RequestStatus status)
    {
        string name = status.ToString();
        return System.Text.RegularExpressions.Regex.Replace(name, "(\\B[A-Z])", " $1");
    }

    public async Task Clear()
    {
        await TestRequestService.ClearStorage();
    }

    public async Task OpenTestRequestCreationDialog()
    {
        await DialogService.OpenAsync<TestRequestCreationDialog>(
            "Create Test Request",
            new Dictionary<string, object>() { { "ProjectId", Id } },
            new DialogOptions() { Width = "700px", Height = "540px", Resizable = false, Draggable = true }
        );
    }

    public void NavigateToProjectManagementPage()
    {
        NavigationManager.NavigateTo($"/project/{Id}/manage");
    }

    public void NavigateToProjectMetricsPage()
    {
        NavigationManager.NavigateTo($"/project/{Id}/metrics");
    }

    private async void UpdateTestRequests()
    {
        testRequestsByStatus = await TestRequestService.GetTestRequestsByProjectIdGroupedByStatus(Id);
        StateHasChanged();
    }

    public void Dispose()
    {
        TestRequestService.OnChange -= StateHasChanged;
        TestRequestService.OnTestRequestAdded -= UpdateTestRequests;
        TestRequestService.OnTestRequestDeleted -= UpdateTestRequests;
        TestRequestService.OnTestRequestUpdated -= UpdateTestRequests;
    }
}
