@page "/home"
@layout DefaultLayout
@inject DialogService DialogService
@inject INotificationService NotificationService

<PageTitle>Home - Testeger</PageTitle>

<div class="container-fluid vh-100">
    <div class="row my-0  pb-4">  
        <div class="col-6 mt-4 ">
            <RadzenText TextStyle="TextStyle.H5">Hello, Lucas!</RadzenText>
            <p class="lead mt-3" style="font-size: 1rem;">Ready to start your next testeger project? Whether you're looking to manage your testing workflow or collaborate with your team, we've got you covered.</p>

            <div class="d-grid gap-3 d-sm-flex justify-content-sm-start">
                <RadzenButton Text="Create a new project"
                              Size="ButtonSize.Medium"
                              ButtonStyle="ButtonStyle.Primary"
                              Click="OpenProjectCreationDialog" 
                              class="p-3" />
                <RadzenButton Text="See my invitations"
                              Size="ButtonSize.Medium"
                              ButtonStyle="ButtonStyle.Light"
                              class="p-3" />
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img src="images/testeger-horizontal-logo-no-bg.png" alt="Testeger logo" height="200px">
        </div>
    </div>

    <div class="row mt-4 vh-100">
        <div class="col-6 vh-100">
            <div class="card shadow-sm px-0">
                <div class="card-header pt-3 row-titlebar d-flex">
                    <RadzenIcon Icon="folder_open" IconColor="@Colors.Primary"></RadzenIcon>
                    <RadzenText TextStyle="TextStyle.H6" class="ms-2 home-card-title">Your projects</RadzenText>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center" style="height: 20rem;">
                    <small style="color: #A9ABAE;"><i>There are no projects yet.</i></small>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow-sm px-0">
                <div class="card-header pt-3 row-titlebar d-flex">
                    <RadzenIcon Icon="notifications" IconColor="@Colors.Primary"></RadzenIcon>
                    <RadzenText TextStyle="TextStyle.H6" class="ms-2 home-card-title">Notifications</RadzenText>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center" style="height: 20rem;">
                    <small style="color: #A9ABAE;"><i>There are no notifications yet.</i></small>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "ProjectCount")]
    private int ProjectCount { get; set; }

    private async Task OpenProjectCreationDialog()
    {
        if (ProjectCount >= 2)
        {
            NotificationService.ShowFailNotification("Not able to create a project", "You can't create more than 2 projects");
            return;
        }

        await DialogService.OpenAsync<ProjectCreationDialog>(
            "Create Project",
            null,
            new DialogOptions() { Width = "700px", Height = "540px", Resizable = false, Draggable = true }
        );

        StateHasChanged();
    }
}

<style>
    .home-card-title{
        font-size: 1.1rem;
    }

    .rz-p-4{
        height: 100vh !important;
    }
</style>
