@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Testeger</PageTitle>

<div class="container">
    <div class="row align-items-center rounded-3">
        <div class="col-12 col-lg-7 p-3 p-lg-5">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Create and manage test requests with Testeger</h1>
            <p class="lead">Experience advanced test management with Testeger: Effortlessly create, manage, and track test requests to ensure high-quality results and effective collaboration.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
                <RadzenButton Text="Login"
                              Size="ButtonSize.Large"
                              ButtonStyle="ButtonStyle.Primary"
                              Click="NavigateToLoginPage" />
                <RadzenButton Text="Register"
                              Size="ButtonSize.Large"
                              ButtonStyle="ButtonStyle.Light"
                              Click="NavigateToRegisterPage" />
            </div>
        </div>
        <div class="col-12 col-lg-5 p-0 overflow-hidden text-center text-lg-end mt-3 mt-lg-0">
            <img class="rounded-lg-3 img-fluid" src="images/testeger-colored-icon.png" alt="Testeger logo">
        </div>
    </div>
</div>

@code {
    public void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo($"/login");
    }

    public void NavigateToRegisterPage()
    {
        NavigationManager.NavigateTo($"/register");
    }
}
