@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Testeger</PageTitle>

<div class="container">
    <div class="row p-0 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-3">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Create and manage test requests with Testeger</h1>
            <p class="lead">Experience advanced test management with Testeger: Effortlessly create, manage, and track test requests to ensure high-quality results and effective collaboration.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <RadzenButton Text="Login"
                              Size="ButtonSize.Large"
                              ButtonStyle="ButtonStyle.Primary"
                              Click="NavigateToLoginPage"/>
                <RadzenButton Text="Register"
                              Size="ButtonSize.Large"
                              ButtonStyle="ButtonStyle.Light"
                              Click="NavigateToRegisterPage" />
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="images/testeger.colored-background.png" alt="Testeger logo" width="720">
        </div>
    </div>
</div>

@code {
    public void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo($"/login");
    }

    public void NavigateToRegisterPage()
    {
        NavigationManager.NavigateTo($"/register");
    }
}
