@page "/login"
@using System.ComponentModel.DataAnnotations

@code {
    private LoginModel loginModel = new LoginModel();

    private void HandleLogin()
    {
        Console.WriteLine($"Email: {loginModel.Email}, Password: {loginModel.Password}");
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row">
        <div class="card shadow-sm">
            <div class="card-body">
                <EditForm Model="loginModel" OnValidSubmit="HandleLogin" style="width: 350px;">
                    <div class="login-container">
                        <div class="row mb-2">
                            <div class="col-12 d-flex justify-content-center">
                                <img class="mb-2" src="/images/testeger.horizontal-logo.png" alt="Testeger logo" height="100">
                            </div>

                        </div>

                        <h4 class="mb-3">Please sign in</h4>
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <InputText id="email" class="form-control" placeholder="E-mail address" Style="height: 50px" @bind-Value="loginModel.Email" />
                        </div>

                        <div class="form-group mb-4">
                            <InputText id="password" type="password" class="form-control" placeholder="Password" Style="height: 50px" @bind-Value="loginModel.Password" />
                        </div>

                        <button type="submit" class="btn-login">Sign in</button>

                        <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
                    </div>
                </EditForm>
            </div>
        </div>
        
    </div>
    
</div>


<style>
    .login-container {
        max-width: 400px;
    }

    .form-group {
        margin-bottom: 15px;
    }
</style>

