@using Testeger.Client.ViewModels.TestRequests
<div class="row card mt-3 shadow-sm">
    <div class="col-12 px-0">
        <div class="card-header row-titlebar d-flex justify-content-start align-items-center ps-2" style="height: 35px;">
            @RowTitle
        </div>
        @if (Requests.Any())
        {
            <div class="card-body my-2 mt-2" style="min-width: 900px;">

                <TestRequestsDataList Requests="Requests"
                                    Status="Status" ProjectId="@ProjectId"/>

            </div>
        }
        else
        {
            <div class="card-body my-2 d-flex justify-content-center align-items-center" style="height: 50px;">
                <small class="text-muted">
                    <i>No existing requests for this status yet.</i>
                </small>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<TestRequestViewModel>? Requests { get; set; }

    [Parameter]
    public RenderFragment? RowTitle { get; set; }

    [Parameter]
    public RequestStatus Status { get; set; }

    [Parameter]
    public string? ProjectId { get; set; }

}