@page "/dialogcard/{RequestId}"
@inject DialogService DialogService
@inject TestRequestService TestRequestService

@if(Request is not null)
{
<h3>Order Details</h3>
<p><b>Request ID:</b> @Request.Id</p>
<p><b>Request Title:</b> @Request.Title</p>
<p><b>Request Description:</b> @Request.Description</p>
}


@code {
    private TestRequest? Request;

    [Parameter]
    public string? RequestId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Request = await TestRequestService.GetTestRequestById(RequestId);
    }
}


