@page "/test-request/{RequestId}"
@inject DialogService DialogService
@inject TestRequestService TestRequestService
@inject TestCaseService TestCaseService

@if(Request is not null)
{
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="card col-6 pb-2">
                <TestRequestDetails Request="Request"/>
            </div>

            <div class="card col-6 pb-2">
                <RadzenContent>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5">Test Cases</RadzenText>
                                <RadzenButton Icon="add_circle" Text="Add case" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Click="OpenTestCaseCreationDialog" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 p-0 mt-2" style="min-width: 400px;">
                                <TestCaseIndividualDataList TestCases="TestCases" />
                            </div>
                        </div>
                    </div>
                </RadzenContent>
            </div>
        </div>
    </div>
}

@code {
    private TestRequest? Request;

    private List<TestCase> TestCases = new();

    private TestCase TestCase { get; set; }

    [Parameter]
    public string? RequestId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Request = await TestRequestService.GetTestRequestById(RequestId);

        TestRequestService.OnChange += StateHasChanged;
        TestCaseService.OnTestCaseAdded += UpdateTestCases;
        TestCaseService.OnTestCasetDeleted += UpdateTestCases;

        TestCases = await TestCaseService.GetTestCasesByRequestId(Request.Id);
    }

    public async Task OpenTestCaseCreationDialog()
    {
        await DialogService.OpenAsync<DialogTestCaseCreationPage>("Create Test Case",
               new Dictionary<string, object>() { { "RequestId", RequestId } },
               new DialogOptions() { Width = "500px", Height = "540px", Resizable = false, Draggable = true });
    }

    private async void UpdateTestCases()
    {
        TestCases = await TestCaseService.GetTestCasesByRequestId(Request.Id);
        StateHasChanged();
    }
}



