@page "/create-project"
@inject DialogService DialogService 
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <ProjectCreationForm OnFormSubmitted="HandleSubmission"/>
</div>

@code {
    [Parameter]
    public EventCallback OnProjectAdded { get; set; }

    public async Task HandleSubmission(string id)
    {
        await OnProjectAdded.InvokeAsync();
        await InvokeAsync(StateHasChanged);
        NavigationManager.NavigateTo($"/project/{id}");
    }
}


