@page "/createeee-project"
@inject DialogService DialogService 


<div class="container-fluid">
    <ProjectCreationForm OnFormSubmitted="HandleSubmission"/>
</div>

@code {
    public void HandleSubmission()
    {
        
    }
}


